%table.pure-table.pure-table-bordered.pure-table-striped.full-size-table
  - if object.summary_header
    %thead
      %tr
        - object.summary_header.each do |header|
          %th= header
  - if object.summaries
    - object.summaries.each do |row|
      %tr
        - row.each do |cell|
          - if cell.kind_of?(Hash)
            - value = cell["value"]
            - klass = cell["klass"]
          - else
            - value = cell
            - klass = ""
          %td{class: klass}= value
  - else
    %p No data