- @notifications.each do |notification|
  %a{name: notification.name}
  .service
    .pure-g-r.service-name-row
      .service-name.pure-u-4-5
        = notification.name
      .service-updated-at.pure-u-1-5
        - t = notification.updated_time
        = l(t, format: :short)
        .service-seconds_ago
          = (Time.now - t).round
          seconds ago
    .pure-g-r
      .pure-u-1.service-value
        = render("dashboard/_object", layout: false, locals: {object: notification} )
