= hidden_field_tag :refresh_interval, value: 4000

#notifications
  = render("dashboard/_notifications", layout: false, locals: {details: false})

:javascript
  $(function () {
    getIntervalNotifications();
  });
