- if object.kind_of? Hash
  - object.keys.each do |key|
    .pure-g-r
      .pure-u-1-5
        = key
      .pure-u-4-5
        = render("dashboard/_hash", layout: false, locals: {object: object[key]} )
- elsif object.kind_of? Array
  %ul
    - object.each do |obj|
      %li= render("dashboard/_hash", layout: false, locals: {object: obj} )
- else
  .pure-g-r
    .pure-u-1.l-box
      = object
