module UserJobs
  class SampleJob
    NAME = "test"

    def refresh(event = nil)
      s = HelloServerClient::Notification.find_or_initialize_by_name(NAME)
      s.summaries = [
        ["serie", "value", 10.0]
      ]
      s.save!
      s
    end
  end
end